<section class="probootstrap-section">
    <div class="container">
<div class="row probootstrap-gutter40">
    <div class="col-md-8">
      <h2 class="mt0">Sign Up</h2>
      <form action="#" method="post" class="probootstrap-form">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="fname">First Name</label>
              <input type="text" class="form-control" id="fname" name="fname">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="lname">Last Name</label>
              <input type="text" class="form-control" id="lname" name="lname">
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <div class="form-field">
            <i class="icon icon-mail"></i>
            <input type="email" class="form-control" id="email" name="email">
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <div class="form-field">
            <input type="password" class="form-control" id="password" name="password">
          </div>
        </div>
        
        <div class="form-group">
          <input type="submit" class="btn btn-primary btn-lg" id="submit" name="submit" value="Sign Up">
        </div>
      </form>
    </div>
  </div>
  </div>
  </section>
  