<section class="probootstrap-section">
  <div class="container">
    <div class="row probootstrap-gutter40">
      <div class="col-md-8">
        <h2 class="mt0">Reservation</h2>
        <form action="#" method="post" class="probootstrap-form" #bookingForm="ngForm">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="first_name">First Name</label>
                <input ngModel type="text" #fnameInput="ngModel" [(ngModel)]="first_name" class="form-control" id="first_name" name="first_name">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="last_name">Last Name</label>
                <input ngModel type="text" #lnameInput="ngModel" [(ngModel)]="last_name" class="form-control" id="last_name" name="last_name">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input ngModel type="email" #emailInput="ngModel" [(ngModel)]="email" class="form-control" id="email" name="email">
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="roomtype">Room</label>
                <!-- <div class="dropdown"> -->
                  <ng-multiselect-dropdown
                    [placeholder]="'Select Room Type'"
                    [settings]="dropdownSettings"
                    [data]="dropdownList"
                    [(ngModel)]="selectedItems"
                    (onSelect)="onItemSelect($event)"
                    (onSelectAll)="onSelectAll($event)"
                   >
                  </ng-multiselect-dropdown>
                <!-- </div> -->
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
               <label for="amenities">Amenities</label>
                <!-- <div class="dropdown"> -->
                  <ng-multiselect-dropdown
                    [placeholder]="'Select Amenities'"
                    [settings]="dropdownSettings"
                    [data]="dropdownList1"
                    [(ngModel)]="selectedItems1"
                    (onSelect)="onItemSelect($event)"
                    (onSelectAll)="onSelectAll($event)"
                    [ngModelOptions]="{standalone: true}"
                    (onDeSelect)="onVendorDeSelect($event)"
                    (onDeSelectAll)="onDeSelectAll($event)"
                   >
                  </ng-multiselect-dropdown>
                <!-- </div> -->
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="roomno">Number of Rooms</label>
                <input type="number" min ="1" max="10" class="form-control" #roomssInput="ngModel" name="rooms" id="guests" #roomsInput ngModel [(ngModel)]="rooms" (input)="OnRoomSelect()"/>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="guests">Number of Guests &nbsp;</label>
                <input type="number" min ="1" max="10" #guestsInput="ngModel" name="guests" class="form-control" id="guests" #guestInput ngModel [(ngModel)]="guestnumber" (input)="OnGuestSelect()"/>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="startdate">Start Date&nbsp;</label><br>
                <mat-form-field appearance="fill">
                  <mat-label>Choose a date</mat-label>
                  <input matInput [matDatepicker]="picker1" [min]="minDate">
                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="enddate">End Date&nbsp;</label><br>
                <mat-form-field appearance="fill">
                  <mat-label>Choose a date</mat-label>
                  <input matInput [matDatepicker]="picker" [min]="minDate1">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
          </div>
          <!-- <div class="row">
             <div class="col-md-6">
               <div class="form-group">
                 <label for="adults">Number of Guests &nbsp;</label>
                  <input type="number" min ="1" max="10" class="num" [(ngModel)]="value" />
                </div>
              </div>
            </div> -->
            <div class="form-group">
              <label for="totalcost">Total Cost</label>
              <input type="text" class="form-control" [(ngModel)]="totalcost" id="totalcost" name="totalcost">
            </div>
          <div class="form-group">
            <input type="submit" class="btn btn-primary btn-md" id="submit" name="Reserve" value="Reserve">
          </div>
        </form>
      </div>
    </div>
  </div>
</section>