
  <!-- START: header -->

  <header role="banner" class="probootstrap-header">
    <!-- <div class="container"> -->
    <div class="row">
        <a href="#" class="probootstrap-burger-menu visible-xs"><i>Menu</i></a>
        <div class="mobile-menu-overlay"></div>

        <nav role="navigation" class="probootstrap-nav hidden-xs">
          <ul class="probootstrap-main-nav">
            <li class="active"><a href="index.html">Home</a></li>
            <li><a style="cursor: pointer;" (click)="redirectRooms()">Our Rooms</a></li>
            <li class="hidden-xs probootstrap-logo-center"><a href="index.html"><img src="../assets/img/Paradise.png" class="hires" width="181" height="50"></a></li>
            <li><a style="cursor: pointer;" (click)="redirectToReserve()">Reservation</a></li>
            <li><a style="cursor: pointer;" (click)="redirect()" *ngIf="!isLoggedIn">Login</a></li>
            <li><a style="cursor: pointer;" *ngIf="isLoggedIn">Change/Cancel Reservation</a></li>
            <li><a style="cursor: pointer;" *ngIf="isLoggedIn">Rewards</a></li>
            <li><a style="cursor: pointer;" *ngIf="isLoggedIn" (click)="logout()">Logout</a></li>
          </ul>
          <div class="extra-text visible-xs">
            <a href="#" class="probootstrap-burger-menu"><i>Menu</i></a>
            <h5>Connect With Us</h5>
            <ul class="social-buttons">
              <li><a href="#"><i class="icon-twitter"></i></a></li>
              <li><a href="#"><i class="icon-facebook2"></i></a></li>
              <li><a href="#"><i class="icon-instagram2"></i></a></li>
            </ul>
          </div>
        </nav>
        </div>
    <!-- </div> -->
  </header>
  <!-- END: header -->
  <router-outlet></router-outlet>

  <!-- START: footer -->
  <footer role="contentinfo" class="probootstrap-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="probootstrap-footer-widget">
            <p class="mt40"><img src="assets/img/Paradisesm.png" class="hires" width="120" height="33"></p>
            <p>Paradise is a Hotel Booking System developed by the team FourThePeople under the guidance of Professor Gopinath Vinodh for CMPE 202 - Software Systems Engineering</p>
            <p><a href="#" class="link-with-icon">Learn More <i class=" icon-chevron-right"></i></a></p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="probootstrap-footer-widget">
            <h3>Contact</h3>
            <ul class="probootstrap-contact-info">
              <li><i class="icon-location2"></i> <span>1 Washington Sq, San Jose, CA 95192</span></li>
              <li><i class="icon-mail"></i><span>aryan.jadon@sjsu.edu</span></li>
              <li><i class="icon-mail"></i><span>swathi.anandram@sjsu.edu</span></li>
              <li><i class="icon-mail"></i><span>shreya.nimbhorkar@sjsu.edu</span></li>
              <li><i class="icon-mail"></i><span>harika.nalam@sjsu.edu</span></li>
            </ul>
            
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- END: footer -->

  

