<section class="probootstrap-section probootstrap-section-dark">
    <div class="container">
      <div class="row mb30">
        <div class="col-md-8 col-md-offset-2 probootstrap-section-heading text-center">
          <h2>Your Available Reward Points</h2>
          <p><img src="../assets/img/curve.svg" class="svg"></p>
        </div>
      </div>
      <div class="row mb30">
        <div class="col-md-8 col-md-offset-2 probootstrap-section-heading text-center">
          <p><img src="../assets/img/stars.png" class="svg"></p>
          <label style="font-size:100px;">80</label>
        </div>
      </div>
    </div>
  </section>