<section class="probootstrap-section">
    <div class="container">
      <div class="row probootstrap-gutter40">
        <div class="col-md-8">
          <h2 class="mt0">Login</h2>
          <form action="#" method="post" class="probootstrap-form">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="fname">Username</label>
                  <input type="text" class="form-control" id="fname" name="fname">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="lname">Password</label>
                  <input type="text" class="form-control" id="lname" name="lname">
                </div>
              </div>
            </div>
            <div class="form-group">
              <input type="submit" class="btn btn-primary btn-md" id="submit" name="submit" value="Login">
            </div>
          </form>
        </div>
      </div>
      <p class="mt0">Don't have an account?<br><a style="color: rgb(144, 52, 121);cursor:pointer;" (click)="signup()">Click here</a> to Sign Up</p>
    </div>
  </section>