<section class="probootstrap-section">
    <div class="container">
      <div class="row probootstrap-gutter40">
        <div class="col-md-8">
          <h2 class="mt0">Login</h2>
          <form (submit)="onLogin(loginForm)" #loginForm="ngForm">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="username">Username</label>
                  <input type="text" class="form-control" id="username" name="username" ngModel required
                  #usernameInput="ngModel" [(ngModel)]="username" placeholder="Enter your unique username">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" class="form-control" id="password" name="password" ngModel required
                  #usernameInput="ngModel" [(ngModel)]="password" placeholder="Enter your password">
                </div>
              </div>
            </div>
            <div class="form-group">
              <input type="submit" class="btn btn-primary btn-md" id="submit" name="submit" value="Login" [disabled]="!loginForm.valid">
            </div>
          </form>
        </div>
      </div>
      <div *ngIf="unauthorized">
        <div class="alert alert-warning alert-dismissible" role="alert">
          <span>{{unauthorized}}</span>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
      <p class="mt0">Don't have an account?<br><a style="color: rgb(144, 52, 121);cursor:pointer;" (click)="signup()">Click here</a> to Sign Up</p>
    </div>
  </section>