{% load static %}
<!DOCTYPE html>
<html class="js">
<meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Signin</title>
    <link rel="stylesheet" href="{% static 'assets/css/dashlite41fe.css' %}">
    <link id="skin-default" rel="stylesheet"  href="{% static 'assets/css/theme41fe.css' %}">
</head>
<body class="nk-body bg-white npc-general pg-auth">
{% for message in messages %}
  <div class="alert {{ message.tags }} alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    {{ message }}
  </div>
{% endfor %}
<div class="nk-app-root">
    <div class="nk-main ">
        <div class="nk-wrap nk-wrap-nosidebar">
            <div class="nk-content ">
                <div class="nk-block nk-block-middle nk-auth-body wide-xs">
                    <div class="brand-logo pb-4 text-center">
                        <h2>Signin</h2>
                    </div>
                    <div class="card card-bordered">
                        <div class="card-inner card-inner-lg">
                            <form method="POST" action="{% url 'user_signin' %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label class="form-label" name="user_name" for="user_name">
                                        Username
                                    </label>
                                    <div class="form-control-wrap">
                                        <input type="text" class="form-control form-control-lg"
                                               name="user_name"
                                               id="user_name"
                                               placeholder="Enter your name">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="form-label" name="password" for="password">Password</label>
                                    <div class="form-control-wrap">
                                        <input type="password" class="form-control form-control-lg"
                                               name= "password"
                                               id="password"
                                            placeholder="Enter your passcode">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <button type="submit"
                                            class="btn btn-lg btn-primary btn-block">
                                        Signin
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>