<section class="probootstrap-slider flexslider probootstrap-inner">
    <ul class="slides">
       <li style="background-image: url(../assets/img/slider_1.jpg);" class="overlay">
          <div class="container">
            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <div class="probootstrap-slider-text text-center">
                  <p><img src="../assets/img/curve_white.svg" class="seperator probootstrap-animate"></p>
                  <h1 class="probootstrap-heading probootstrap-animate">Best Rooms</h1>
                  <div class="probootstrap-animate probootstrap-sub-wrap">Select from a vast choices of rooms available</div>
                </div>
              </div>
            </div>
          </div>
        </li>
    </ul>
  </section>
  
  <section class="probootstrap-section">
    <div class="container">
      <div class="row">

        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="probootstrap-room">
            <a href="#"><img src="../assets/img/img_4.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></a>
            <div class="text">
              <h3>Classic Room</h3>
              <p>Starting from <strong>$29.00/Night</strong></p>
              <div class="post-meta mb30">
                <ul>
                  <li><span class="review-rate">4.7</span> <i class="icon-star"></i> 252 Reviews</li>
                  <li><i class="icon-user2"></i> 3 Guests</li>
                </ul>
              </div>
              <p><a href="#" class="btn btn-primary" role="button">Reserve now for $29.00</a></p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="probootstrap-room">
            <a href="#"><img src="../assets/img/img_1.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></a>
            <div class="text">
              <h3>Grand Deluxe Room</h3>
              <p>Starting from <strong>$29.00/Night</strong></p>
              <div class="post-meta mb30">
                <ul>
                  <li><span class="review-rate">4.7</span> <i class="icon-star"></i> 252 Reviews</li>
                  <li><i class="icon-user2"></i> 3 Guests</li>
                </ul>
              </div>
              <p><a href="#" class="btn btn-primary" role="button">Reserve now for $29.00</a></p>
            </div>
          </div>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="probootstrap-room">
            <a href="#"><img src="../assets/img/img_2.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></a>
            <div class="text">
              <h3>Ultra Superior Room</h3>
              <p>Starting from <strong>$29.00/Night</strong></p>
              <div class="post-meta mb30">
                <ul>
                  <li><span class="review-rate">4.7</span> <i class="icon-star"></i> 252 Reviews</li>
                  <li><i class="icon-user2"></i> 3 Guests</li>
                </ul>
              </div>
              <p><a href="#" class="btn btn-primary" role="button">Reserve now for $29.00</a></p>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="probootstrap-room">
            <a href="#"><img src="../assets/img/img_5.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></a>
            <div class="text">
              <h3>Grand Deluxe Room</h3>
              <p>Starting from <strong>$29.00/Night</strong></p>
              <div class="post-meta mb30">
                <ul>
                  <li><span class="review-rate">4.7</span> <i class="icon-star"></i> 252 Reviews</li>
                  <li><i class="icon-user2"></i> 3 Guests</li>
                </ul>
              </div>
              <p><a href="#" class="btn btn-primary" role="button">Reserve now for $29.00</a></p>
            </div>
          </div>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="probootstrap-room">
            <a href="#"><img src="../assets/img/img_6.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></a>
            <div class="text">
              <h3>Ultra Superior Room</h3>
              <p>Starting from <strong>$29.00/Night</strong></p>
              <div class="post-meta mb30">
                <ul>
                  <li><span class="review-rate">4.7</span> <i class="icon-star"></i> 252 Reviews</li>
                  <li><i class="icon-user2"></i> 3 Guests</li>
                </ul>
              </div>
              <p><a href="#" class="btn btn-primary" role="button">Reserve now for $29.00</a></p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="probootstrap-room">
            <a href="#"><img src="../assets/img/img_7.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></a>
            <div class="text">
              <h3>Presidential Room</h3>
              <p>Starting from <strong>$29.00/Night</strong></p>
              <div class="post-meta mb30">
                <ul>
                  <li><span class="review-rate">4.7</span> <i class="icon-star"></i> 252 Reviews</li>
                  <li><i class="icon-user2"></i> 3 Guests</li>
                </ul>
              </div>
              <p><a href="#" class="btn btn-primary" role="button">Reserve now for $29.00</a></p>
            </div>
          </div>
        </div>
        <div class="clearfix visible-sm-block"></div>

      </div>
    </div>
  </section>
