
  <section class="probootstrap-section">
    <div class="container">
      <div class="row">
        <h2 style="color: #903479">Deluxe</h2>
        <div class="dropdown">
          <ng-multiselect-dropdown
            [placeholder]="'Select Location'"
            [settings]="dropdownSettings"
            [data]="dropdownList"
            [(ngModel)]="selectedItems"
            (ngModelChange)="changeData()" *ngIf="!noDropdown"
           >
          </ng-multiselect-dropdown>
        </div>
        <h3 *ngIf="noDropdown">Showing Results for: {{locationValue}}</h3>
        <h3 *ngIf="!groupByTypeDeluxe.length">No rooms available for the criteria</h3>
        <br><br><br><br>
        <div *ngIf="noDropdown">
          <div class="col-md-4 col-sm-6 col-xs-12" *ngFor="let deluxe of groupByTypeDeluxe">
          <div class="probootstrap-room">
            <a href="#"><img style="width: 400px; height: 300px;" [src]="deluxe.room_image" class="img-responsive"></a>
            <div class="text">
              <h3>{{deluxe.room_location}}</h3>
              <p>Starting from <strong>${{deluxe.price}}/Night</strong></p>
              <div class="post-meta mb30">
                <ul>
                  <li><i class="icon-user2"></i>Maximum 6 Guests</li>
                </ul>
                Amenities Included:
                <ol>
                  <li *ngFor="let amen of deluxe.room_amenities">{{amen}}</li>
                </ol>
              </div>
              <p><a class="btn btn-primary" role="button" (click)="reserve(deluxe)">Reserve now for ${{deluxe.price}}</a></p>
            </div>
          </div>
        </div>
      </div>
        <div *ngIf="!noDropdown">
        <div class="col-md-4 col-sm-6 col-xs-12" *ngFor="let deluxe of groupByTypeDeluxeUpdated">
          <div class="probootstrap-room">
            <a href="#"><img style="width: 400px; height: 300px;" [src]="deluxe.room_image" class="img-responsive"></a>
            <div class="text">
              <h3>{{deluxe.room_location}}</h3>
              <p>Starting from <strong>${{deluxe.price}}/Night</strong></p>
              <div class="post-meta mb30">
                <ul>
                  <li><i class="icon-user2"></i>Maximum 6 Guests</li>
                </ul>
                Amenities Included:
                <ol>
                  <li *ngFor="let amen of deluxe.room_amenities">{{amen}}</li>
                </ol>
              </div>
              <p><a class="btn btn-primary" role="button" (click)="reserve(deluxe)">Reserve now for ${{deluxe.price}}</a></p>
              <p *ngIf="increase>0"><mat-icon style="color: red;">arrow_upward</mat-icon>Price Increase By <span style="color: red;">{{increase}}%</span> due to <span style="color: red;">{{whyincrease}}</span>.</p>
            </div>
          </div>
        </div>
        </div>
        <div class="clearfix visible-sm-block"></div>
      </div>
      <div class="row">
        <h2 style="color: #903479">Studios</h2>
        <div class="dropdown">
          <ng-multiselect-dropdown
            [placeholder]="'Select Location'"
            [settings]="dropdownSettings"
            [data]="dropdownListStudios"
            [(ngModel)]="selectedItemsStudios"
            (ngModelChange)="changeData()" *ngIf="!noDropdown"
           >
          </ng-multiselect-dropdown>
        </div>
        <h3 *ngIf="noDropdown">Showing Results for: {{locationValue}}</h3>
        <h3 *ngIf="!groupByTypeStudios.length">No rooms available for the criteria</h3>
        <br><br><br><br>
        <div *ngIf="noDropdown">
          <div class="col-md-4 col-sm-6 col-xs-12"  *ngFor="let deluxe of groupByTypeStudios">
          <div class="probootstrap-room">
            <a href="#"><img style="width: 400px; height: 300px;" [src]="deluxe.room_image" class="img-responsive"></a>
            <div class="text">
              <h3>{{deluxe.room_location}}</h3>
              <p>Starting from <strong>${{deluxe.price}}/Night</strong></p>
              <div class="post-meta mb30">
                <ul>
                  <li><i class="icon-user2"></i>Maximum 2 Guests</li>
                </ul>
                Amenities Included:
                <ol>
                  <li *ngFor="let amen of deluxe.room_amenities">{{amen}}</li>
                </ol>
              </div>
              <p><a class="btn btn-primary" role="button" (click)="reserve(deluxe)">Reserve now for ${{deluxe.price}}</a></p>
              <p *ngIf="increase>0"><mat-icon style="color: red;">arrow_upward</mat-icon>Price Increase By <span style="color: red;">{{increase}}%</span> due to <span style="color: red;">{{whyincrease}}</span>.</p>
            </div>
          </div>
        </div>
        </div>
        <div *ngIf="!noDropdown">
        <div class="col-md-4 col-sm-6 col-xs-12" *ngFor="let deluxe of groupByTypeStudiosUpdated">
          <div class="probootstrap-room">
            <a href="#"><img style="width: 400px; height: 300px;" [src]="deluxe.room_image" class="img-responsive"></a>
            <div class="text">
              <h3>{{deluxe.room_location}}</h3>
              <p>Starting from <strong>${{deluxe.price}}/Night</strong></p>
              <div class="post-meta mb30">
                <ul>
                  <li><i class="icon-user2"></i>Maximum 6 Guests</li>
                </ul>
                Amenities Included:
                <ol>
                  <li *ngFor="let amen of deluxe.room_amenities">{{amen}}</li>
                </ol>
              </div>
              <p><a class="btn btn-primary" role="button" (click)="reserve(deluxe)">Reserve now for ${{deluxe.price}}</a></p>
              <p *ngIf="increase>0"><mat-icon style="color: red;">arrow_upward</mat-icon>Price Increase By <span style="color: red;">{{increase}}%</span> due to <span style="color: red;">{{whyincrease}}</span>.</p>
            </div>
          </div>
        </div>
      </div>
        <div class="clearfix visible-sm-block"></div>
      </div>
      <div class="row">
        <h2 style="color: #903479">Suite</h2>
        <div class="dropdown">
          <ng-multiselect-dropdown
            [placeholder]="'Select Location'"
            [settings]="dropdownSettings"
            [data]="dropdownListSuite"
            [(ngModel)]="selectedItemsSuite"
            (ngModelChange)="changeData()" *ngIf="!noDropdown"
           >
          </ng-multiselect-dropdown>
        </div>
        <h3 *ngIf="noDropdown">Showing Results for: {{locationValue}}</h3>
        <h3 *ngIf="!groupByTypeSuite.length">No rooms available for the criteria</h3>
        <br><br><br><br>
        <div *ngIf="noDropdown">
        <div class="col-md-4 col-sm-6 col-xs-12" *ngFor="let deluxe of groupByTypeSuite">
          <div class="probootstrap-room">
            <a href="#"><img style="width: 400px; height: 300px;" [src]="deluxe.room_image" class="img-responsive"></a>
            <div class="text">
              <h3>{{deluxe.room_location}}</h3>
              <p>Starting from <strong>${{deluxe.price}}/Night</strong></p>
              <div class="post-meta mb30">
                <ul>
                  <li><i class="icon-user2"></i>Maximum 4 Guests</li>
                </ul>
                Amenities Included:
                <ol>
                  <li *ngFor="let amen of deluxe.room_amenities">{{amen}}</li>
                </ol>
              </div>
              <p><a class="btn btn-primary" role="button" (click)="reserve(deluxe)">Reserve now for ${{deluxe.price}}</a></p>
              <p *ngIf="increase>0"><mat-icon style="color: red;">arrow_upward</mat-icon>Price Increase By <span style="color: red;">{{increase}}%</span> due to <span style="color: red;">{{whyincrease}}</span>.</p>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="!noDropdown">
      <div class="col-md-4 col-sm-6 col-xs-12" *ngFor="let deluxe of groupByTypeSuiteUpdated">
        <div class="probootstrap-room">
          <a href="#"><img style="width: 400px; height: 300px;" [src]="deluxe.room_image" class="img-responsive"></a>
          <div class="text">
            <h3>{{deluxe.room_location}}</h3>
            <p>Starting from <strong>${{deluxe.price}}/Night</strong></p>
            <div class="post-meta mb30">
              <ul>
                <li><i class="icon-user2"></i>Maximum 6 Guests</li>
              </ul>
              Amenities Included:
              <ol>
                <li *ngFor="let amen of deluxe.room_amenities">{{amen}}</li>
              </ol>
            </div>
            <p><a class="btn btn-primary" role="button" (click)="reserve(deluxe)">Reserve now for ${{deluxe.price}}</a></p>
            <p *ngIf="increase>0"><mat-icon style="color: red;">arrow_upward</mat-icon>Price Increase By <span style="color: red;">{{increase}}%</span> due to <span style="color: red;">{{whyincrease}}</span>.</p>
          </div>
        </div>
      </div>
      </div>
        <div class="clearfix visible-sm-block"></div>
      </div>
    </div>
  </section>
